<ion-view title="Loading cars" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="loadingCars-list-item-container2">
            <ion-list id="loadingCars-list2" class=" ">
                <ion-item class="item-icon-left item-icon-right  " id="loadingCars-list-item7">
                    <i class="icon ion-android-checkbox"></i>WF0DXXGAKDGC43425
                    <i class="icon ion-android-delete"></i>
                </ion-item>
                <ion-item class="item-icon-left item-icon-right  " id="loadingCars-list-item8">
                    <i class="icon ion-android-checkbox-blank"></i>WF0DXXGAKDGC43425
                    <i class="icon ion-android-delete"></i>
                </ion-item>
            </ion-list>
        </div>
        <div id="loadingCars-button-bar3" class=" button-bar ">
            <button id="loadingCars-button7" style="text-align:left;border-radius:0px 0px 0px 0px;" class=" button button-balanced  button-block icon-left ion-android-add ">ADD CAR</button>
            <a ui-sref="tabsController.tasks" id="loadingCars-button9" style="text-align:right;border-radius:0px 0px 0px 0px;" class=" button button-balanced  button-block icon-right ion-arrow-right-c ">ALL CARS LOADED, GO NEXT</a>
        </div>
    </ion-content>
</ion-view>